*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper*
AppData/
*.log.*
[Ll]ogs/
[Pp]ackages/
/UpgradeLog.XML
/_UpgradeReport_Files/UpgradeReport.css
/_UpgradeReport_Files/UpgradeReport.xslt
/_UpgradeReport_Files/UpgradeReport_Error.png
/_UpgradeReport_Files/UpgradeReport_Information.png
/_UpgradeReport_Files/UpgradeReport_Success.png
/_UpgradeReport_Files/UpgradeReport_Warning.png
/src/AKQ.Web/App_Data
/src/TrumpIt/App_Data