@{
    Layout = null;
}
<div class="container">
    <div class="row-fluid">
    <div class="span4">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Profile</li>
                <li class="active"><a href="#/profile">Info</a></li>
                <li class="nav-header">Settings</li>
                <li><a href="#/change-password">Change password</a></li>
            </ul>
        </div><!--/.well -->
    </div><!--/span-->
    <div class="span8">
        @RenderBody()
    </div><!--/span-->
        </div>
</div>