@model ISeeYou.Web.Controllers.ProfileViewModel

<div class="container">
    <div class="well">
        <h4 class="text-center">Профайл @Model.User.UserName</h4>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var subject in Model.User.Subjects)
            {
                <tr>
                    <td>@subject.Name</td>
                    <td>@subject.Id</td>
                </tr>
            }
        </tbody>
    </table>


    <div>
        <div class="pull-right">
            <a class="btn btn-large btn-info" href="@Url.Action("AddSubject", "Subjects")">Добавьте обозреваемого юзера !</a>
        </div>
    </div>

</div>



