@model ISeeYou.Web.Controllers.ProfileViewModel

<div class="container">
    <div class="well">
        <h4>Профайл @Model.User.UserName</h4>
    </div>

    <div>
        @foreach (var subject in Model.User.Subjects)
        {
            <div>@subject.Name</div>
        }
    </div>


    <div>
        <a class="btn btn-large btn-info" href="@Url.Action("AddSubject", "Subjects")">Добавьте нового обозреваемого юзера !</a>
    </div>

</div>