<div class="row">
    <div class="col-md-12 text-center">
        <h2>Добро пожаловать в SpyPie</h2>
        <h4>Приятного шпионства</h4>
        <hr />
        <a href="@Url.Action("Index", "Profile")" class="btn btn-large btn-warning">Начать слежку</a>
    </div>
</div>
