

<div class="modal text-center" style="padding: 30px">
    <h2>Добро пожаловать в <span style="font-size: 27px; padding-left: 5px"><span style="color: red">i</span>See<span style="color: red">You</span> !</span></h2>
    <h6 style="margin-top: 15px">Приятного шпионства</h6>
    
    <div style="margin-top: 30px;">
        <a href="@Url.Action("Authorize", "Subjects")" class="btn btn-large btn-info">Подключить свой аккаунт</a>
    </div>
</div>
