@using ISeeYou.Platform.Extensions
@model ISeeYou.Web.Controllers.SubjectEventsViewModel

@{
    ViewBag.Title = "SpyPie";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}


<div id="events">
    @if (Model.Events.Any())
    {
        <table>
            @foreach (var evts in Model.Events.Batch(8))
            {
            <tr>
                @foreach (var evt in evts)
                {
                    <td>
                        <div class="thumbnail">
                            <a href="@String.Format("https://vk.com/photo{0}_{1}", evt.SourceId, evt.PhotoId)" target="_blank"><img src="@evt.Image" /></a>
                            <span class="like_date">@(evt.StartDate.HasValue ? evt.StartDate.Value.ToString("dd/MM/yyyy") : string.Empty)</span>
                            <span class="glyphicon glyphicon-heart"></span>
                        </div>
                    </td>
                }
            </tr>

            }
        </table>
    }
</div>