@using System.Web.UI.WebControls
@model ISeeYou.Web.Controllers.SubjectEventsViewModel

<div id="loading" class="center-block">
    <img id="loading-image" src="~/Assets/loading.gif" alt="Загружаю..." />
</div>

<div id="masonry-container">
</div>

<script src="/Scripts/jquery-2.0.3.min.js" type="text/javascript"></script>
<script src="/Scripts/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="/Scripts/imagesloaded.pkgd.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var page = 1;
        var msnry = null;
        var $loading = $('#loading').hide();

        loadItems();

        var container = $("#masonry-container");

        function loadItems() {
            $loading.show();
            jQuery.get("/Subjects/GetMasonryItems", { page: page, id: '@ViewBag.UserId' }, function (data) {

                var elems = [];
                for (var i = 0; i < data.length; i++) {
                    elems.push(data[i]);
                }

                if (page === 1) {
                    if (elems.length > 0) {
                        $("#masonry-container").append(elems);
                        $("#masonry-container").after('<a id="load_more" href="#" class="btn btn-large btn-success center-block" style="margin-bottom: 50px">Загрузить еще</a>');
                        $("#load_more").click(function (e) {
                            e.preventDefault();
                            loadItems();
                        });
                    } else {
                        $("#masonry-container").html('<h2 class="text-center" style="padding-top: 50px;">Нету информации :(</h2>');
                    }
                }

                container.append(elems);
                container.imagesLoaded(function () {
                    msnry = new Masonry(container[0], {
                        gutter: 10,
                        itemSelector: '.masonry-item'
                    });
                    $loading.hide();
                });
                page++;
            });
        };
    });

</script>