<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mongo.events_connection_string" value="mongodb://localhost:27020/iseeyou_events" />
    <add key="mongo.views_connection_string" value="mongodb://super_admin:pSS5HXsjt231izA@178.62.181.53:27017/spypie_prod" />
    <add key="mongo.logs_connection_string" value="mongodb://localhost:27020/iseeyou_logs" />
    <add key="mongo.admin_connection_string" value="mongodb://localhost:27020/iseeyou_admin" />
    <add key="fetcher.token" value="4584967" />
    <add key="rabbit.host" value="dubina.by" />
    <add key="rabbit.user" value="spypie" />
    <add key="rabbit.pwd" value="4584967" />
    <add key="rabbit.photos_exchange_name" value="spypie_photos" />
    <add key="rabbit.sources_exchange_name" value="spypie_sources" />
    <add key="fetcher.token" value="4584967" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>