<div class="navbar" style="position: static;" ng-controller="HeaderCtrl">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand light" href="/">I<span class="redsuit">SEE</span>YOU</a>
            <div>
                <ul class="nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="/">Home</a></li>
                    }
                </ul>
                <ul class="nav  pull-right">
                    @if (Request.IsAuthenticated)
                    {
                        <text>
                        <li><a href="/profile/index"><strong class="light">@User.Identity.Name</strong> </a></li>
                        <li><a href="/account/logoff">Log Off </a></li>
                        </text>
                    }
                    else
                    {
                        <text>
                        <li><a href="/account/login">Log In</a></li>
                        <li><a href="/account/register">Sign Up</a></li>
                        </text>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
