@model string

<div class="col-md-6 col-md-offset-3 well">
    <div id="forgot" class="animate form-horizontal" role="form">
        <form action="@Url.Action("Reset", "Account")" method="POST" autocomplete="on">
            <fieldset>
                <legend>Восстановление пароля</legend>
                <div class="form-group">
                    <label for="email" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input id="email" class="form-control" name="email" required="required" type="email" placeholder="Введите email" value="@Model" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <input type="submit" class="btn btn-large btn-primary" value="Восстановить" />
                    </div>
                </div>
            </fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
        </form>
    </div>
</div>
