.masonry-item {
    max-width: 380px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

    .masonry-item img {
        max-width: 360px;
        height: auto;
    }

    .masonry-item .like {
        float: right;
    }

#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #F0F0F0;
    z-index: 99;
    text-align: center;
}

#loading-image {
    /*position: absolute;*/
    margin: 350px auto;
    z-index: 100;
}

.event {
    float: left;
    width: 45%;
    display: inline-block;
    margin: 0 5px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.event hr {
    margin-bottom: 10px;
}

.event img {
    width: 100%;
}

.event .like_date {
    line-height: 30px;
}

.event .glyphicon {
    font-size: 30px;
    float: right;
}
