.poker-table {
    width: 750px;
    height: 310px;
    background: #5cb85c;
    border-radius: 175px;
    text-align: center;
    padding: 100px 0 0;
    margin-top: 75px;
    border: 10px solid #43290e;
}


    .time-bar {
        color: green;
        border-color: #22FF66;
        border-width: 2px;
        margin: 0 0 -2px 0;
        padding: 0;
    }
.player-cards {
    width: 90px;
    float: left;
    clear: right;
    padding-top: 4px;
}
.player-info{

    width: 70px;
    float: right;
    padding-top: 4px;
}

.player-cash {
    color: yellow;
}

.poker-bids {
     list-style-type: none;
    width: 750px;
    height: 290px;
    position: relative;
    margin: -110px -10px;
}

.poker-bids > li {
     position: absolute;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 12px;
        width: 40px;
        height: 40px;
        text-align: center;

    background-image: url("/assets/chips.png");
    background-size: 40px;
}

.player-bid span{
    font-weight: bold;
    margin-top: 10px;
display: block;
}

   .poker-bids > li:nth-child(1) {
        top: -20px;
        left: 90px;
    }

.poker-bids > li:nth-child(2) {
     top: -60px;
        left: 180px;
}

.poker-bids > li:nth-child(3) {
       top: -60px;
        left: 370px;
}

.poker-bids > li:nth-child(4) {
     top: -60px;
        left: 560px;
}

.poker-bids > li:nth-child(5) {
      top: -30px;
        left: 650px;
}

.poker-bids > li:nth-child(6) {
        top: 50px;
        left: 650px;
}

.poker-bids > li:nth-child(7) {
       top: 100px;
        left: 560px;
}

.poker-bids > li:nth-child(8) {
      top: 100px;
        left: 370px;
}

.poker-bids > li:nth-child(9) {
     top: 100px;
        left: 180px;
}

.poker-bids > li:nth-child(10) {
      top: 50px;
        left: 90px;
}

.poker-players {
    list-style-type: none;
    width: 750px;
    height: 290px;
    position: relative;
    margin: -110px -10px;
}

    .poker-players > li {
        position: absolute;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 12px;
        width: 160px;
        height: 110px;
        text-align: center;
    }

        .poker-players > li:nth-child(2), .poker-players > li:nth-child(3), .poker-players > li:nth-child(4) {
            top: -50px;
        }

            .poker-players > li:nth-child(2) .bottom-seat, .poker-players > li:nth-child(3) .bottom-seat, .poker-players > li:nth-child(4) .bottom-seat {
                display: none;
            }

        .poker-players > li:nth-child(7), .poker-players > li:nth-child(8), .poker-players > li:nth-child(9) {
            bottom: -160px;
        }

            .poker-players > li:nth-child(7) .img-player, .poker-players > li:nth-child(8) .img-player, .poker-players > li:nth-child(9) .img-player, .poker-players > li:nth-child(7) .bet, .poker-players > li:nth-child(8) .bet, .poker-players > li:nth-child(9) .bet {
                display: none;
            }

            .poker-players > li:nth-child(7) .bottom-seat, .poker-players > li:nth-child(8) .bottom-seat, .poker-players > li:nth-child(9) .bottom-seat {
                display: inline;
            }

            .poker-players > li:nth-child(7) .bet.bottom-seat, .poker-players > li:nth-child(8) .bet.bottom-seat, .poker-players > li:nth-child(9) .bet.bottom-seat {
                display: block;
            }

            .poker-players > li:nth-child(7) i.more_items, .poker-players > li:nth-child(8) i.more_items, .poker-players > li:nth-child(9) i.more_items {
                top: 50px;
                left: 95px;
            }

        .poker-players > li:nth-child(1), .poker-players > li:nth-child(5), .poker-players > li:nth-child(6), .poker-players > li:nth-child(10) {
            height: -45px;
        }

            .poker-players > li:nth-child(1) .bottom-seat, .poker-players > li:nth-child(5) .bottom-seat, .poker-players > li:nth-child(6) .bottom-seat, .poker-players > li:nth-child(10) .bottom-seat {
                display: none;
            }

        .poker-players > li:nth-child(2), .poker-players > li:nth-child(9) {
            left: 115px;
        }

        .poker-players > li:nth-child(3), .poker-players > li:nth-child(8) {
            left: 308px;
        }

        .poker-players > li:nth-child(4), .poker-players > li:nth-child(7) {
            left: 500px;
        }

        .poker-players > li:nth-child(1), .poker-players > li:nth-child(5) {
            top: 45px;
        }

        .poker-players > li:nth-child(6), .poker-players > li:nth-child(10) {
            bottom: -70px;
        }

        .poker-players > li:nth-child(1), .poker-players > li:nth-child(10) {
            left: -90px;
        }

            .poker-players > li:nth-child(1) img, .poker-players > li:nth-child(10) img {
                float: left;
            }

            .poker-players > li:nth-child(1) i.more_items, .poker-players > li:nth-child(10) i.more_items {
                top: 35px;
                left: 45px;
            }

            .poker-players > li:nth-child(1) .showHand, .poker-players > li:nth-child(10) .showHand {
                right: 0;
            }

        .poker-players > li:nth-child(5), .poker-players > li:nth-child(6) {
            right: -115px;
        }

            .poker-players > li:nth-child(5) img, .poker-players > li:nth-child(6) img {
                float: right;
            }

            .poker-players > li:nth-child(5) i.more_items, .poker-players > li:nth-child(6) i.more_items {
                top: 35px;
                left: 95px;
            }

            .poker-players > li:nth-child(5) .showHand, .poker-players > li:nth-child(6) .showHand {
                margin-left: 0;
            }

.rate-box {
    display: inline-block;
    min-width: 40px;
    font-size: 15px;
    color: gold;
}


.input-message {
    width: 80%;
}

.log-container {
    max-height: 185px;
    overflow: auto;
}

.msg-container {
    max-height: 120px;
    overflow: auto;
}

.msg {
    color: white;
}

.call-note {
    color: #6CD1EE;
}

.raise-note {
    color: #f89406;
}

.check-note {
    color: #58B358;
}

.fold-note {
    color: #D3514B;
}
